
header .container {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;

    .logo{
        display: flex;
        justify-content: center;
        flex-direction: row; 
    }

    .banner {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
        overflow: auto;
        width: 100%;
       
        @media (max-width: 767px) {

            img {
                position: relative;
                width: 100%;
            }
        }
    }

    .slogan{

        h1 {
            padding: 1rem 0 0;
            text-align: center;
            width: 100%;
        }
    }
}