#newsletter {
    background: $color-primary;
}

.subscribe-form {
	padding: 3px 0px;
	text-align: center;

   .section-heading  {
	margin-top: 0px;
    }
    .section-heading h1 {
	color: #fff;
    font-size: large;
    }
    
    .main-content p {
	font-size: medium;
	color: #fff;
	margin-bottom: 30px;
    }

    .main-content form  {
	color: #fff;
	display: inline;
    }
    .main-content form input {
	display: inline;
    }
    .main-content form input {
	width: 50%;
	height: 46px;
	background-color: #fff;
	color: #2b2a2a;
	outline: none;
    border-radius: 1rem;
    }
    
    .main-content form button {
        background-color: $font-color-primary;
        border-radius: 1rem;
        color: $color-primary;
        font-weight: bold;
        padding: 1rem 2rem;
        font-size: $font-size-default;
        align-self: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
        &:hover {
            background-color: rgb(12, 146, 101);
            border-color: #fff;
        }
    }
}